*{
  padding:0;
  outline:0;
  margin:0;
  box-sizing:border-box;
  font-family:  sans-serif;
}

.MainContainer{
  DISPLAY:FLEX;
  JUSTIFY-CONTENT:SPACE-BETWEEN;  
  ALIGN-ITEMS:CENTER;
  background-color:#C6cdff;
  color:#000;
  max-height:65px;
  box-shadow: 0 0 12px rgba(0,0,0,0.7);
  position:sticky;
  overflow:hidden ;
}
.logo{
  display:flex;
  align-items:center;
  margin-left:10%;
  cursor:pointer;
}
.logo img{
  width:50px;
  margin:10px ;
  border-radius:50%;
}
.components{
  display:flex;
  flex: 1;
  align-items:center;
  justify-content:space-between;
  width:50%;
  font-size:13px;
}
.components h2{
  font-size: 1.3rem;
  font-weight: 500;
  cursor:pointer;
  margin: 5% ;
}
.components a {
  text-decoration: none;
  color: inherit;
  user-select: none;
}

.components a:focus,
.components a:active {
  outline: none;
}

.components h2:hover{
  transform:scale(1.1);
}
.user{
  display:flex;
  align-items:center;
  font-size:14px;
  margin-right:5%;
}
.user img{
  width: 40px;
  border-radius: 50%;
}

.user a{
  text-decoration: none;
  color: inherit;
  user-select: none;
}

@media (max-width:900px){
  .components {
   display:none;
  }
}